/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 10%;
    left: 50%;
    
    margin-left: -215px;
    width: 400px;
    
    background-color: #EEE;
    color: #333;
    border: 3px outset #800000;
    padding: 12px;
    height: 600px;
    overflow: auto;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/* Custom jqModal Sutff */
a.jqmClose em{display:none;}
a.jqmClose {
  width:20px;
  height:20px;
  display:block;
  float:right;
  clear:right;
  background:transparent url(../images/close_icon_double.png) 0 0 no-repeat; !important
  background: url(../images/close_icon_double.gif) 0 0 no-repeat;
}

a.jqmClose:hover, a.jqmCloseHover{ background-position: 0 -20px; }

div#calendar_modal h1 {
  padding: 0px;
  margin: 0px;
}

/* FORMS */
div.jpmPopup b {
  color: black
}

div.jqmWindow {
  font-size: 125%;
  text-align: center;
}

div.jqmWindow label {
  display: inline;
  padding: 0px;
}

div.jqmWindow b {
  color: black;
}

div.jqmWindow textarea {
  height: 90px;
  width: 300px;
}

div.jqmWindow h1 {
  text-align: center;
}

div.jqmWindow h2 {
  font-size: 1.33em;
  margin-bottom: 0.75em;
  text-align: center;
}

div.jqmWindow form {
  height: 100%;
  text-align: center;
}

div.jqmWindow p {
  margin-top: 5pt;
  margin-bottom: 5pt;
}

div.jqmWindow p.form_example {
  font-size: 8pt;
  color: blue;
  margin-top: -5pt;
}

/* TAGS */
.size1 { font-size: 0.6em; }
.size2 { font-size: 0.8em; }
.size3 { font-size: 1.0em; }
.size4 { font-size: 1.2em; }
/* END TAGS */

