table.simple_calendar_border {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table.simple_calendar_border tr{
  padding: 0px;
  margin: 0px;
}

table.simple_calendar_border th{
  font-weight: bold;
  font-size: 18px;
}

table.simple_calendar_border table{
  border: none;
  margin: 0px;
  padding: 0px;
}

table.simple_calendar {
  width: 100%;
  padding: 5px;
  border-collapse: collapse;
}
table.simple_calendar th {
  width: 10%;
  text-align: center;
  font-family: arial;
  border: none;
}
table.simple_calendar td {
  vertical-align: top;
  width: 10%;
  height: 100px;
}
table.simple_calendar td.blank_day {
}
table.simple_calendar td.day {
}
table.simple_calendar td.selected {
}
table.simple_calendar td div.day {
  width: 100%;
  text-align: right;
  cursor: pointer;
  cursor: hand;
}

table.simple_calendar div.time_entry {
  margin-right: 5px;
  padding-top: 0px;
  font-size: 9px;
}

table.simple_calendar div.time_entry {
  text-align: left;
}

table.simple_calendar div.more_link {
  float: left;
  margin-right: 15px;
  padding-top: 0px;
  font-size: 12px;
}

a {
  text-decoration: none;
}

div.table_border {
  width: 90%;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
}

div#inner_calendar {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}

table.cal, table.day_cal {
  border-collapse: collapse;
}

table.cal {
  width: 95%;
}

table.cal th, table.day_cal th {
  text-align: center;
  padding: 5px;
  font-size: 16px;
  font-family: arial;
  border: none;
}

table.cal td, table.day_cal td {
  vertical-align: top;
  font-size: 16px;
}

table.day_cal {
  width:100%;
}

div.day_scroll {
  position: relative;
  height:650px;
  overflow-y:auto;
  overflow-x:hidden;
  padding:0px;
  width:95%;
}

tr.month{
  text-align:center;
}

table.hours {
  border-collapse: collapse;
}

table.hours td {
}

table.hours th {
  font-size: 11px;
}

th.hour_header {
  cursor: pointer;
  cursor: hand;
}

select.month option{
  font-size: 18px;
}

.filler {
  border: none !important;
}


#tabs {
  /*padding: 0px 40px;*/
  /*margin-left: 700px;*/
  font-weight: bold;
  /*height: 2.09em;*/
  font: bold 96% arial;
}

#tabs ul {
  list-style: none;
}

#tabs li {
  float: left;
  display:block;
  padding:0;
  width: 45px;
  text-align: center;
}

#tabs li.unselected {
  margin-bottom: 0;
}

#tabs li.selected {
  /*background-color: #AA4444;
  border-bottom: 3px solid #AA4444;*/
  margin-bottom: 0;
}

#tabs a, #tabs a:link, #tabs a:visited, #tabs a:hover, #tabs a:active {
  text-decoration:none;
  cursor:pointer;
  display: block;
  padding:0;
  border: none;
}

#tabs a:hover {
  border:none;
}

#tabs img {
  border: none;
  padding: none;
}

td.no_border{
  border: none;
}

tr.week_days {
  height: 25px;
}

tr.week_days th{
  font-size: 12px;
  width: 5%;
  padding: 0;
  text-align: center;
}

div.day_entry {
  position: absolute;
  text-align: left;
  font-size: small;
  margin: 0 5px 5px 0;
  z-index: 2900;
}

div.new_entry {
  height: 100%;
  width: 100%;
}

tr.top {
  height: 30pt;
}

tr.bottom {
  height: 30pt;
}

tr.top th{
  border-bottom: none;
}

tr.bottom th{
  border-top: none;
}

tr.top td{
  border-bottom: none;
}

li#tab {
  padding: 0px;
}

li#active_tab {
  padding: 0px;
}

p.left-align{
  text-align: left;
}

/*div#flash_error {
  background-color:red;
  border:1px solid;
  float:right;
  margin-bottom:3px;
  padding:5px;
}
div#flash_notice {
  background-color:lightblue;
  border:1px solid;
  clear:both;
  float:right;
  padding:5px;
}
div#flash_warning {
  background-color:lightgreen;
  border:1px solid;
  clear:both;
  float:right;
  margin-bottom:3px;
  padding:5px;
}*/

/* Small Calendar */
div#small_calendar {
  width: 200pt;
  height: 160pt;
  font-size: 10pt;
}
div#small_inner_calendar {
  height: 100%;
  width: 100%;
}
table.small_simple_calendar {
  width: 95%;
  height: 95%;
  text-align: center;
  margin: auto;
}
table.small_simple_calendar th {
  text-align: center;
}
table.small_simple_calendar td {
  text-align: center;
}
.left { float: left; }
.right { float: right; }


/* FORMS - ERRORS */
.fieldWithErrors {
  padding: 2px;
  border: 4px solid #c13737;
  display: table;
}
div.fielderror {
  border: 1px solid red;
  padding: 0px;
  margin: 0px
}
td.fielderror {
  border: 1px solid red;
}
textarea.fielderror {
  border: 1px solid red;
}
#errorExplanation {
  width: 400px;
  border: 2px solid #c13737;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
div#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 15px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
div#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
div#errorExplanation ul li {
  font-size: 12px;
  list-style: none;
}
