<% %>
<%= javascript_include_tag 'nifty' %>
<%= stylesheet_link_tag 'niftyCorners', 'simple_calendar_gold' %>
<script type="text/javascript">
  window.onload = function() {
    if(!NiftyCheck())
      return;
    Rounded("div#calendar","all","#FFF","#BEC67C","smooth");
    Rounded("li#active_tab","top","#FFF","#CCCC00","smooth");
    Rounded("li#tab","top","#FFF","#999999","smooth");
  }
</script>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr valign="bottom">
    <td width="25%">&nbsp;</td>
    <td width="25%">&nbsp;</td>
    <td width="25%"><%= render :partial => 'shared/tabs' %></td>
    <td width="25%">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4">
      <div class="table_border" id="calendar" cellpadding="0" cellspacing="0">
        <div id="inner_calendar" align="center">
          <% mode = controller.action_name == 'day_view' ? 'day' : 'month' %>
          <%= render :simple_calendar => session[:simple_calendar_name], :admin => session[:simple_calendar_admin],
                                                                         :layout => false, 
                                                                         :mode   => @mode, 
                                                                         :day    => @day, 
                                                                         :month  => @month, 
                                                                         :year   => @year %>
        </div>
      </div>
    </td>
  </tr>
</table>
