<% %>
<%
   if month == nil
     month = Time.now.month
   end
     year = Time.now.year
   days = ((Date.new(year, month, 1) >> 1) - 1).day
   if month == Time.now.month
     today = Time.now.mday
     dow = Time.now.wday
     shift = 1 - (today % 7)
     first = dow + shift
   end
   if first != 0
     last_month = ((Date.new(year, month - 1, 1) >> 1) - 1).day 
   else 
     last_month = nil
   end
%>
<% require 'date' %>
<%= @day %>
<table class = "cal">
  <tr colspan="7" class="month">
    <% remote_function :url => {:action => 'get_month'} %>
    <%= select_month(Date.today) %>
    <% observe_field :month, :url => {:action => 'get_month'} %>
    <%= select_year(Date.today) %>
  </tr> 
  <tr colspan="7" class = "filler">
    <td colspan ="7">&nbsp;</td>
  </tr>
  <tr>
    <% Date::DAYNAMES.each do |d| %>
      <th><%= d %></th>
    <% end %>
  </tr>
  <tr>
  <% for x in (1..first) %>
    <% link_val = last_month - first + x %> 
    <td>
      <%= link_to link_val, {:controller => 'simple_calendar', :action => 'view_day', :mode =>'day'}, :class => 'day_next' -%>
    <br /><br /></td>
  <% end %>
  
<% for i in (1..(42-first))%>
  <% if (i + first) % 7 != 0 %>
    <% if i > days %>
      <td><%= link_to (i % days), {:controller => 'simple_calendar', :action => 'view_day', :mode => 'day'}, :class => 'day_next' -%><br /><br />
    <% else %>
      <td <%= i == today ? ' class="today"' : '' %>><%= link_to i, {:controller => 'simple_calendar', :action => 'view_day', :mode => 'day'}, :class => 'day_link' -%><br /><br />
    <% end %>
  <% else %>
    <% if i > days %>
      <td><%= link_to (i % days), {:controller => 'simple_calendar', :action => 'view_day', :mode => 'day'}, :class => 'day_next' -%><br /><br />
    <% else %>
      <td <%= i == today ? ' class="today"' : ''%>><%= link_to i, {:controller => 'simple_calendar', :action => 'view_day', :mode => 'day'}, :class => 'day_link' -%><br /><br />
    <% end %>
         &nbsp;
       </td>
    </tr>
  <% end %>
<% end %>
</table>
