<% -%>
<div id="tabs">
  <ul>
    <li id="<%= @mode == "day" ? "active_tab" : "tab" %>" class="<%= @mode == "day" ? "selected" : "unselected" %>">
      <% if @mode == "day" %>
        Day
      <% else %>
        <%= link_to_remote "Day", :url => path_to_day_view(@date.day),
                                  :complete => "tabsRoundedCorners()" %>
      <% end %>
    </li>
    <li <%= @mode != "day" ? 'id="active_tab" class="selected"' : 'id="tab" class="unselected"' %>>
       <% if @mode != "day" %>
         Month 
       <% else %>
        <%= link_to_remote "Month", :url => path_to_month_view,
                                    :complete => "tabsRoundedCorners()" %>
       <% end %>
    </li>  
  </ul>
</div>

