<% %>
<div id="tabs">
  <ul>
    <li <%= @mode == "day" ? ' class="selected"' : ' class="unselected"' %>>
      <% if @mode == "day" %>
        <%= tab("Day") %>
      <% else %>
        <%= link_to tab("Day"), "#{home_path}/simple_calendar/day_view?date=#{@date}" %>
      <% end %>
    </li>
    <li <%= @mode != "day" ? ' class="selected"' : ' class="unselected"' %>>
       <% if @mode != "day" %>
         <%= tab("Month") %> 
       <% else %>
        <%= link_to tab("Month"), "#{home_path}/simple_calendar/month_view?date=#{@date}" %>
       <% end %>
    </li>  
  </ul>
</div>

